body {
  background: #212121;
}

.container {
  background: white;
  margin: auto;
  margin-top: 100px;
  width: 500px;
  padding: 40px;
  border-radius: 5px;
}

.quoteBox {
  overflow: hidden;
  text-align: center;
}

.quoteBox .fa-quote-left {
  color: #212121;
  font-size: 1.6em;
}

.quoteBox span{
  color: #212121;
  font-family: Open Sans;

}

.quoteBox .quote {
    font-size: 25px;
}

.quoteBox .author {
  float: right;
  margin-bottom: 20px;
  font-size: 17px;
}

.buttons {
}

.buttons .fa-twitter-square {
  color: #212121;
  cursor: pointer;
}

.buttons #newQuote {
  color: white;
  background: #212121;
  border-radius: 3px;
}

.buttons .newQuote {
  float: right;
  height: 45px;
  width: 100px;
  background: #3A9A7C;
  border: none;
  cursor: pointer;
}

.footer {
  color: white;
  text-align: center;
  font-family: Open Sans;
  font-size: 0.8em;
}