h1 {
  margin: 0;
  letter-spacing: 2px;
  color: #73A0D6;
}

h4 {
  margin: 0;
  color: #73A0D6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  letter-spacing: 1px;
}

sup{
  font-size: 40px;
}

#unit {
  font-size: 55px;
}
.weather p {
  color: #0B132B; 
}

body {
  background: #1C2541;
  font-family: Montserrat;
}

.container {
  background: #0B132B;
  background: -webkit-linear-gradient(#0B132B 95px, #fff 1px, #fff);
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  padding: 10px;
}

.locdate {
  margin: 5px auto 0 auto;
  text-align: center;
}

.weather{
  padding-top: 20px;
}

.weather .description {
  margin-bottom: 0;
}

.weather #switch {
  display: block;
  height: 20px;
  width: 40px;
  background: #0B132B;
  color: white;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px auto;
}

.weather #switch:focus {
  outline: none;
}

.weather #switch:hover {
  background: #73A0D6;
}

.weather > p {
  text-align: center;
}

.weather .wind img {
  height: 23px;
}

.weather .temperature {
  font-size: 4em;
  margin: 0;
}

.weather .wind {
  font-size: 2em;
  margin: 0;
}

.description img {
  vertical-align: middle;
  width: 50px;
}

.footer p {
  font-family: Open Sans;
  text-align: center;
  font-size: 0.8em;
  color: white;
}

.footer p a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}